.SettingsContainer {
  position: absolute;
  top: 0;
  right: -250px;
  width: 200px;

  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid #fff5c4;
  text-align: center;
}
.blue {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: blue;
}
.red {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: red;
}

.SlideInHorizontalRight {
  animation: slideInRight 0.5s forwards;
}
.SlideOutHorizontalRight {
  animation: slideOutRight 0.5s forwards;
}

.SlideInVerticalTop {
  animation: slideInTop 0.5s forwards;
}
.SlideOutVerticalTop {
  animation: slideOutTop 0.5s forwards;
}

.Hidden {
  visibility: hidden;
}
.BottomContainer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 10px;
}
.TopContainer {
}
.SettingsButton:hover {
  background-color: rgba(79, 76, 62, 0.5);
}
.SettingsButton {
  border: 1px solid #fff5c4;

  color: #fff5c4;
  font-family: OpenSansRegular;
  background-color: rgba(0, 0, 0, 0);
  width: 35%;
}
.SettingsInput {
  border: 1px solid #fff5c4;
  color: #fff5c4;
  font-family: OpenSansRegular;
  background-color: rgba(0, 0, 0, 0);
}

.Title {
  margin: 0;
  color: #fff5c4;
  font-family: OpenSansRegular;
  /* border-bottom: 1px solid #fff5c4; */
}

@keyframes slideInRight {
  100% {
    right: 5px;
  }
}

@keyframes slideOutRight {
  0% {
    right: 0;
  }
}

@keyframes slideInTop {
  100% {
    right: 5px;
  }
}

@keyframes slideOutTop {
  0% {
    right: 0;
  }
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSansRegular.ttf');
}
